VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
VITE_MAPBOX_TOKEN=""
VITE_ENABLE_SUPABASE_AUTH="true"
VITE_APP_ENV="development"
NEXT_PUBLIC_DEEPGRAM_API_KEY=""
NEXT_PUBLIC_GROQ_API_KEY=""
VITE_DEEPGRAM_API_KEY=""
VITE_GROQ_API_KEY=""

# Zoom Video SDK secrets devem ser configurados apenas no Supabase Functions:
# ZOOM_VIDEO_SDK_KEY
# ZOOM_VIDEO_SDK_SECRET
